
{% load static %}

{% block content %}


  <!-- header -->
  
  <div class="container relative">
    <header>
      <div class="logo"> <a href="{% url 'homeapp:homepage' %}">
        <img  class="img-responsive" src="{% static 'images/logo.png' %}" alt="" ></a> 
      </div>
      <!-- Top bar -->
      <div class="top-bar">
        <div class="top-info">
          <ul class="personal-info">
            <li>
              <p><i class="fa fa-phone"></i> +880 1324-291441 </p>
            </li>
            <li>
              <p><i class="fa fa-envelope-o"></i> info@biswasgroupltd.com </p>
            </li>
            <li>
              <p><i class="fa fa-clock-o"></i> Sat - Thrus: 10.00- 5.00 </p>
            </li>
          </ul>
           <ul class="social">
            <li><a href="https://www.facebook.com/Biswas-Group-Limited-114950567495229/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/invites/contact/?i=1d320xvhonkk9&utm_content=l1054ee"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://wa.me/message/HE5N34BT2K5ZF1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            <li><a href=" https://www.youtube.com/channel/UCn-QxRcQHzErWDWZFDMPs0g"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            
          </ul>
        </div>
        
        <!-- Navigation -->
        <nav class="navbar">
          <ul class="nav ownmenu">
            <li> <a href="{% url 'homeapp:homepage' %}"><i class="fa fa-home" aria-hidden="true"></i>
            </a> </li> 
          
            <li > <a href="#">Corporate</a> 
             <ul class="dropdown">
                  <li><a href="{% url 'homeapp:companyProfilepage' %}">Company profile</a></li>
                  <li><a href="{% url 'homeapp:visionMissionpage' %}">Vission & Mission </a></li>
                  <li><a href="{% url 'homeapp:teampage' %}">Meet The Team</a></li>
                  <li><a href="{% url 'homeapp:corporateStructurepage' %}">Corporate Structure </a></li>
                  <li><a href="{% url 'homeapp:careerOpportunitypage' %}">Career Opportunity</a></li>
                  <li><a href="{% url 'homeapp:customerReviewspage' %}">Customer Reviews</a></li>
                   <li><a href="{% url 'homeapp:awardpage' %}">Awards</a></li>
                   <li><a href="{% url 'homeapp:affiliationpage' %}">Affiliations</a></li>
                  <li><a href="{% url 'homeapp:Landwantedpage' %}">Land Wanted</a></li>
                  <li><a href="{% url 'homeapp:certificationpage' %}">Certification</a></li>
              </ul>
              </li>

            <li> <a href="#">Business</a>
                <ul class="dropdown">
                  <li><a href="{% url 'homeapp:biswasDeveloperpage' %}">Biswas Developer & Construction Ltd.</a></li>
                  <li><a href="{% url 'homeapp:biswasMaterialspage' %}">Biswas Building Materials Ltd. </a></li>
                  <li><a href="{% url 'homeapp:biswasExportimportpage' %}">Biswas Export & Import Ltd. </a></li>
                  <li><a href="{% url 'homeapp:biswasConsultantpage' %}">Biswas Consultant Ltd.</a></li>
                  <li><a href="{% url 'homeapp:biswasTextilepage' %}">Biswas Textile Ltd.</a></li>
                  <li><a href="{% url 'homeapp:biswasGarmentspage' %}">R.M.S Garments.</a></li>

                </ul>
            </li>

            <li> <a href="#">Media</a>
            
              <ul class="dropdown"> 
                <li><a href="{% url 'blogpage:blog' %}">Blog</a></li>
                <li><a href="{% url 'homeapp:eventpage' %}">Events</a></li>
        
 
              </ul>
            
            </li> 
          
            <li> <a href="{% url 'homeapp:contactpage' %}">Contact us</a> </li>
          </ul>
          
          <!-- GET A QUOTES -->
          <div class="quotes"> 
            <a href="{% url 'homeapp:contactpage' %}" class="customcolor"><i class="fa fa-pencil-square-o"></i> GET A QUOTES </a> </div>
        </nav>
      </div>
    </header>
  </div>



{% endblock %}