
{% load static %}

{% block content %}


  <!-- header -->
  
  <div class="container relative">
    <header>
      <div class="logo"> <a href="#."><img  class="img-responsive" src="{% static 'images/logo.png' %}" alt="" ></a> </div>
      <!-- Top bar -->
      <div class="top-bar">
        <div class="top-info">
          <ul class="personal-info">
            <li>
              <p><i class="fa fa-phone"></i> +880 1324-291441 </p>
            </li>
            <li>
              <p><i class="fa fa-envelope-o"></i> info@biswasgroupltd.com </p>
            </li>
            <li>
              <p><i class="fa fa-clock-o"></i> Sat - Thrus: 10.00- 5.00 </p>
            </li>
          </ul>
           <ul class="social">
            <li><a href="https://www.facebook.com/Biswas-Group-Limited-114950567495229/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/invites/contact/?i=1d320xvhonkk9&utm_content=l1054ee"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://wa.me/message/HE5N34BT2K5ZF1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            <li><a href=" https://www.youtube.com/channel/UCn-QxRcQHzErWDWZFDMPs0g"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            
          </ul>
        </div>
        
        <!-- Navigation -->
        <nav class="navbar">
          <ul class="nav ownmenu">
            <li> <a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>
            </a> </li> 
          
            <li > <a href="#">Corporate</a> 
             <ul class="dropdown">
                  <li><a href="Company Profile.html">Company profile</a></li>
                  <li><a href="Vision & Mission.html">Vission & Mission </a></li>
                  <li><a href="Meet the Team.html">Meet The Team</a></li>
                  <li><a href="Corporate Structure.html">Corporate Structure </a></li>
                  <li><a href="Career opportunity.html">Career Opportunity</a></li>
                  <li><a href="Customer Review.html">Customer Reviews
                  </a></li>
                  
                   <li><a href="#">Awards
                  </a></li>
                   <li><a href="Affiliation.html">Affiliations
                  </a></li>
                   <li><a href="#">Social Responsibility
                  </a></li>
                  <li><a href="Land wanted.html">Land Wanted
                  </a></li>
                  <li><a href="#">Certification
                  </a></li>
                </ul>
                </li>

            <li> <a href="about.html">Business
             </a>
              
                <ul class="dropdown">
                  <li><a href="Biswasdeveloper.html">Biswas Developer & Construction Ltd.
                  
                  
                  </a></li>
                  <li><a href="biswasmaterial.html">Biswas Building Materials Ltd.
                  
        
                  </a></li>
                  <li><a href="biswasmaterial.html">Biswas Export & Import Ltd.
                  
                  </a></li>
                  <li><a href="Consaltantb.html">Biswas Consultant Ltd.
                  
                  </a></li>
                  <li><a href="biswastextile.html">Biswas Textile Ltd.
                  
                  
                  </a></li>
                  
                   <li><a href="RMS.html">R.M.S Garments.</a></li>
                </ul>
            </li>

            <li> <a href="#">Media
            </a> </li> 
          
            
            <li> <a href="contact.html">Contact us</a> </li>
          </ul>
          
          <!-- GET A QUOTES -->
          <div class="quotes"> <a href="#" class="customcolor"><i class="fa fa-pencil-square-o"></i> GET A QUOTES </a> </div>
        </nav>
      </div>
    </header>
  </div>



{% endblock %}