
{% extends 'base.html' %}
{% load static %}

{% block content %}


  <!-- SUB BANNER -->
  <section class="sub-bnr">
    <div class="position-center-center">
      <div class="container">
        <h4>Affiliation</h4>
        <hr class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
        </ol>
         
      </div>
    </div>
    <div class="scroll"> <a href="#content" class="go-down"></a></div>
  </section>
  
  <!-- Content -->
    
  <section class="padding-top-50 padding-bottom-50">
    <div class="container"> 
      <div class="row">
          <div class="col-md-12">
              <div class="awardofassure">
              <h2 class="h2">Affiliations of Biswas Group Ltd </h2>
            </div>
          </div>

       <div class="col-md-4 col-sm-6 text-center">
        <div class="card card-thim" style="width:100%; padding:10px;">
            <img style="width: 100%;" class="card-img-top" src="{% static 'assets/282583-bracbank-logo.png' %}" alt="Card image cap">
            <div class="card-body card-body-padding">
              <a class="card-head-title" href="#">BRAC Bank</a>
              <p class="card-text Category">Category: Affiliations</p>
              <p class="card-text">Biswas Group Ltd, a renowned real estate company in Bangladesh, is the winner of AsiaOne Award for fastest-growing brands .</p>
              <div class="text-right">
              <a class="award-more" href="#">Read More</a>
            </div>
            </div>
          </div>
       </div>

       <div class="col-md-4 col-sm-6 text-center">
        <div class="card card-thim" style="width:100%;padding:10px;">
            <img style="width: 100%;" class="card-img-top" src="{% static 'assets/88494-mutualtrustbank-logo.png' %}" alt="Card image cap">
            <div class="card-body card-body-padding">
              <a class="card-head-title" href="#">Mutual Trust Bank</a>
              <p class="card-text Category">Category: Affiliations</p>
              <p class="card-text">Biswas Group Ltd, a renowned real estate company in Bangladesh, is the winner of AsiaOne Award for fastest-growing brands 2020 - 21.</p>
              <div class="text-right">
              <a class="award-more" href="#">Read More</a>
            </div>
            </div>
          </div>
       </div>

       <div class="col-md-4 col-sm-6 text-center">
        <div class="card card-thim" style="width:100%;padding:10px;">
            <img style="width: 100%;" class="card-img-top" src="{% static 'assets/9231-dhakabankltd.png' %}" alt="Card image cap">
            <div class="card-body card-body-padding">
              <a class="card-head-title" href="#">Dhaka Bank Limited Excellence in Banking</a>
              <p class="card-text Category">Category: Affiliations</p>
              <p class="card-text">DAS Certification Ltd was established in 1998 and is now one of the leading global provider of Certification Services. We operate in more than 40 countries and hold over 8,000 certificates worldwide.</p>
              <div class="text-right">
              <a class="award-more" href="#">Read More</a>
            </div>
            </div>
          </div>
       </div>

       
       <div class="col-md-4 col-sm-6 text-center">
        <div class="card card-thim" style="width:100%; padding:10px;">
            <img style="width: 100%;" class="card-img-top" src="{% static 'assets/282583-bracbank-logo.png' %}" alt="Card image cap">
            <div class="card-body card-body-padding">
              <a class="card-head-title" href="#">BRAC Bank</a>
              <p class="card-text Category">Category: Affiliations</p>
              <p class="card-text">Biswas Group Ltd, a renowned real estate company in Bangladesh, is the winner of AsiaOne Award for fastest-growing brands 2020 - 21.</p>
              <div class="text-right">
              <a class="award-more" href="#">Read More</a>
            </div>
            </div>
          </div>
       </div>

       <div class="col-md-4 col-sm-6 text-center">
        <div class="card card-thim" style="width:100%;padding:10px;">
            <img style="width: 100%;" class="card-img-top" src="{% static 'assets/9231-dhakabankltd.png' %}" alt="Card image cap">
            <div class="card-body card-body-padding">
              <a class="card-head-title" href="#">Dhaka Bank Limited Excellence in Banking</a>
              <p class="card-text Category">Category: Affiliations</p>
              <p class="card-text">DAS Certification Ltd was established in 1998 and is now one of the leading global provider of Certification Services. We operate in more than 40 countries and hold over 8,000 certificates worldwide.</p>
              <div class="text-right">
              <a class="award-more" href="#">Read More</a>
            </div>
            </div>
          </div>
       </div>

       <div class="col-md-4 col-sm-6 text-center">
        <div class="card card-thim" style="width:100%;padding:10px;">
            <img style="width: 100%;" class="card-img-top" src="{% static 'assets/88494-mutualtrustbank-logo.png' %}" alt="Card image cap">
            <div class="card-body card-body-padding">
              <a class="card-head-title" href="#">Mutual Trust Bank</a>
              <p class="card-text Category">Category: Affiliations</p>
              <p class="card-text">Biswas Group Ltd, a renowned real estate company in Bangladesh, is the winner of AsiaOne Award for fastest-growing brands 2020 - 21.</p>
              <div class="text-right">
              <a class="award-more" href="#">Read More</a>
            </div>
            </div>
          </div>
       </div>

       

       
       <div class="col-md-4 col-sm-6 text-center">
        <div class="card card-thim" style="width:100%; padding:10px;">
            <img style="width: 100%;" class="card-img-top" src="{% static 'assets/282583-bracbank-logo.png' %}" alt="Card image cap">
            <div class="card-body card-body-padding">
              <a class="card-head-title" href="#">BRAC Bank</a>
              <p class="card-text Category">Category: Affiliations</p>
              <p class="card-text">Biswas Group Ltd, a renowned real estate company in Bangladesh, is the winner of AsiaOne Award for fastest-growing brands 2020 - 21.</p>
              <div class="text-right">
              <a class="award-more" href="#">Read More</a>
            </div>
            </div>
          </div>
       </div>

       <div class="col-md-4 col-sm-6 text-center">
        <div class="card card-thim" style="width:100%;padding:10px;">
            <img style="width: 100%;" class="card-img-top" src="{% static 'assets/9231-dhakabankltd.png' %}" alt="Card image cap">
            <div class="card-body card-body-padding">
              <a class="card-head-title" href="#">Dhaka Bank Limited Excellence in Banking</a>
              <p class="card-text Category">Category: Affiliations</p>
              <p class="card-text">DAS Certification Ltd was established in 1998 and is now one of the leading global provider of Certification Services. We operate in more than 40 countries and hold over 8,000 certificates worldwide.</p>
              <div class="text-right">
              <a class="award-more" href="#">Read More</a>
            </div>
            </div>
          </div>
       </div>

       <div class="col-md-4 col-sm-6 text-center">
        <div class="card card-thim" style="width:100%;padding:10px;">
            <img style="width: 100%;" class="card-img-top" src="{% static 'assets/88494-mutualtrustbank-logo.png' %}" alt="Card image cap">
            <div class="card-body card-body-padding">
              <a class="card-head-title" href="#">Mutual Trust Bank</a>
              <p class="card-text Category">Category: Affiliations</p>
              <p class="card-text">Biswas Group Ltd, a renowned real estate company in Bangladesh, is the winner of AsiaOne Award for fastest-growing brands 2020 - 21.</p>
              <div class="text-right">
              <a class="award-more" href="#">Read More</a>
            </div>
            </div>
          </div>
       </div>

       <div class="col-md-4 col-sm-6 text-center">
        <div class="card card-thim" style="width:100%;padding:10px;">
            <img style="width: 100%;" class="card-img-top" src="{% static 'assets/9231-dhakabankltd.png' %}" alt="Card image cap">
            <div class="card-body card-body-padding">
              <a class="card-head-title" href="#">Dhaka Bank Limited Excellence in Banking</a>
              <p class="card-text Category">Category: Affiliations</p>
              <p class="card-text">DAS Certification Ltd was established in 1998 and is now one of the leading global provider of Certification Services. We operate in more than 40 countries and hold over 8,000 certificates worldwide.</p>
              <div class="text-right">
              <a class="award-more" href="#">Read More</a>
            </div>
            </div>
          </div>
       </div>
     
      </div>
    </div>
  </section> 


{% endblock %}


