
{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- SUB BANNER -->
  <section class="sub-bnr">
    <div class="position-center-center">
      <div class="container">
        <h4>R.M.S Garments</h4>
        <hr class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
        </ol>
         
      </div>
    </div>
    <div class="scroll"> <a href="#content" class="go-down"></a></div>
  </section>
  
  <!-- Content -->

  <section class="padding-top-100 padding-bottom-100">
    <div class="container-flued">
        <div class="row">
            <div class="col-md-12">
                <div class="About-Biswas">
                    <div class="About-Biswas-content-builders text-center">
                        <h1>R.M.S Garments</h1>
                        <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>
 

    <!-- LATEST WORK -->
    <div id="saven" class="left-right-block saven-left">
        <div class="container-flued">
            <div class="row justify-content-end">
              <div class="col-md-6">
                  <div class="col-md-12">
                        <div class="About-Biswas">
                        <div class="About-Biswas-content-builders text-center">
                            
                            <h1>R.M.S Garments.</h1>
                            <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                        </div>
                        </div>
            
                        <div class="About-Biswas-text">
                        <p>Biswas Group set its foot in the real estate business in 2007 with a view to providing stunning homes for the contemporary city lifestyle. For more than 13 years, we have grown ourselves as a leader in the sector after serving over a thousand customers and completing over a hundred projects.<br><br>
                            Through our elegant design, superior resources, and excellent workmanship, we are materializing the promise of providing a complete living experience to our clients. Our market insight and proactive approach to address any issue have earned us the confidence of clients as they invest in their dream property.
                        </p>
                        </div>

                        <div class="d-lg-none">
                            <img style="width: 100%;" src="{% static 'assets/assure-tourism-ltd.jpg' %}" alt="img">
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
    

    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-8"> 
                    <div class="About-Biswas">
                        <div class="About-Biswas-content-builders text-center">
                            
                            <h1>R.M.S Garments.</h1>
                            <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                        </div>
                        </div>

                        <div class="Biswas-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime excepturi sequi minus eos dolorum saepe vero rerum porro deleniti obcaecati eaque hic, magni adipisci soluta quae assumenda in culpa. Dolorum quisquam vero, magni</p>
                            
                          </div>
                </div>
                <div class="col-md-4">
                    <div class="trusim-img">
                        <img src="{% static 'assets/friendly-safe-and-a-affordable.jpg' %}" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="trusim-img">
                        <img src="{% static 'assets/ultimate-family-destination.jpg' %}" alt="img">
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="About-Biswas">
                        <div class="About-Biswas-content-builders text-center">
                            
                            <h1>R.M.S Garments.</h1>
                            <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                        </div>
                        </div>

                        <div class="Biswas-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime excepturi sequi minus eos dolorum saepe vero rerum porro deleniti obcaecati eaque hic, magni adipisci soluta quae assumenda in culpa. Dolorum quisquam vero, magni</p>
                            
                          </div>
                </div>
               
            </div>
        </div>
    </section>




{% endblock %}



