
{% extends 'base.html' %}
{% load static %}

{% block content %}


  
  <!-- SUB BANNER -->
  <section class="sub-bnr">
    <div class="position-center-center">
      <div class="container">
        <h4>Biswas Consultant Ltd</h4>
        <hr class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
        </ol>
          
          
      </div>
    </div>
    <div class="scroll"> <a href="#content" class="go-down"></a></div>
  </section>
  
  <!-- Content -->


 

  <div id="three" class="left-right-block three-left">
    <div class="container-flued">
        <div class="row justify-content-end">
          <div class="col-md-6">
              <div class="col-md-12">
                <div class="About-Biswas">
                    <div class="About-Biswas-content-builders text-center">
                        <h1>Biswas Consultant Ltd</h1>
                        <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                    </div>
                    </div>
        
                    <div class="About-Biswas-text">
                    <p>Biswas Group set its foot in the real estate business in 2006 with a view to providing stunning homes for the contemporary city lifestyle. For more than 13 years, we have grown ourselves as a leader in the sector after serving over a thousand customers and completing over a hundred projects.<br><br>
                        Through our elegant design, superior resources, and excellent workmanship, we are materializing the promise of providing a complete living experience to our clients. Our market insight and proactive approach to address any issue have earned us the confidence of clients as they invest in their dream property.
                    </p>
                    </div>

                    <div class="About-Biswas">
                        <div class="About-Biswas-content-builders text-center">
                            <h1>Modern Lifestyle with the Aristocracy of Our Apartments</h1>
                            <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                        </div>
                        </div>

                    <div class="About-Biswas-text">
                        
                        <p>Biswas Group set its foot in the real estate business in 2006 with a view to providing stunning homes for the contemporary city lifestyle. For more than 13 years, we have grown ourselves as a leader in the sector after serving over a thousand customers and completing over a hundred projects.<br><br>
                            Through our elegant design, superior resources, and excellent workmanship, we are materializing the promise of providing a complete living experience to our clients. Our market insight and proactive approach to address any issue have earned us the confidence of clients as they invest in their dream property.
                        </p>
                        </div>

                  

                    <div class="d-lg-none">
                        <img style="width: 100%;" src="{% static 'assets/Biswas-development-and-design.jpg' %}" alt="img">
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>



{% endblock %}



