

{% extends 'base.html' %}
{% load static %}

{% block content %}

  

  <!-- SUB BANNER -->
  <section class="sub-bnr">
    <div class="position-center-center">
      <div class="container">
        <h4>BLOG</h4>
        <hr class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
        </ol>
          <li class="active">BLOG</li>
      </div>
    </div>
    <div class="scroll"> <a href="#content" class="go-down"></a></div>
  </section>
  
  <!-- Content -->

  <section class="padding-top-50"> 
    <div class="container"> 
      <div class="row">
       <div class="col-md-12 text-center">
         <div class="Assure-secton-area">
           <div class="assure-head">
            <h1>Our Certifications</h1>
           </div>
         </div>
       </div>
      </div>
    </div>
  </section>

  <section class=" padding-bottom-50">
    <div class="container">
      <div class="row">
      <div class="col-md-12">
        <div class="article">
          <div class="post-formats-wrapper">
            <a href="#"><img src="{% static 'assets/patent-design-trademark-bangladesh.png' %}" alt="img"></a>
          </div>
          <div class="article-header">
            <div class="h2">
              <a href="#">DPDT Trademark Certification</a>
            </div>
          </div>
          <div class="article-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint assumenda non at reprehenderit dolorum eaque quia minus maxime velit vero.</p>
            <div class="article-read-more">
              <a href="#" class="read-more">Read more</a>
            </div>
          </div>
        </div>

        <div class="article">
            <div class="post-formats-wrapper">
              <a href="#"><img src="{% static 'assets/razuk.jpg' %}" alt="img"></a>
            </div>
            <div class="article-header">
              <div class="h2">
                <a href="#">Rajuk</a>
              </div>
            </div>
            <div class="article-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint assumenda non at reprehenderit dolorum eaque quia minus maxime velit vero.</p>
              <div class="article-read-more">
                <a href="#" class="read-more">Read more</a>
              </div>
            </div>
          </div>

          <div class="article">
            <div class="post-formats-wrapper">
              <a href="#"><img src="{% static 'assets/patent-design-trademark-bangladesh.png' %}" alt="img"></a>
            </div>
            <div class="article-header">
              <div class="h2">
                <a href="#">DPDT Trademark Certification</a>
              </div>
            </div>
            <div class="article-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint assumenda non at reprehenderit dolorum eaque quia minus maxime velit vero.</p>
              <div class="article-read-more">
                <a href="#" class="read-more">Read more</a>
              </div>
            </div>
          </div>
  
          <div class="article">
              <div class="post-formats-wrapper">
                <a href="#"><img src="{% static 'assets/razuk.jpg' %}" alt="img"></a>
              </div>
              <div class="article-header">
                <div class="h2">
                  <a href="#">Rajuk</a>
                </div>
              </div>
              <div class="article-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint assumenda non at reprehenderit dolorum eaque quia minus maxime velit vero.</p>
                <div class="article-read-more">
                  <a href="#" class="read-more">Read more</a>
                </div>
              </div>
            </div>

            <div class="article">
                <div class="post-formats-wrapper">
                  <a href="#"><img src="{% static 'assets/patent-design-trademark-bangladesh.png' %}" alt="img"></a>
                </div>
                <div class="article-header">
                  <div class="h2">
                    <a href="#">DPDT Trademark Certification</a>
                  </div>
                </div>
                <div class="article-content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint assumenda non at reprehenderit dolorum eaque quia minus maxime velit vero.</p>
                  <div class="article-read-more">
                    <a href="#" class="read-more">Read more</a>
                  </div>
                </div>
              </div>
      
              <div class="article">
                  <div class="post-formats-wrapper">
                    <a href="#"><img src="{% static 'assets/razuk.jpg" alt="img' %}"></a>
                  </div>
                  <div class="article-header">
                    <div class="h2">
                      <a href="#">Rajuk</a>
                    </div>
                  </div>
                  <div class="article-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint assumenda non at reprehenderit dolorum eaque quia minus maxime velit vero.</p>
                    <div class="article-read-more">
                      <a href="#" class="read-more">Read more</a>
                    </div>
                  </div>
                </div>

      </div>
    </div>

    <div class="numering text-left">
        <div class="row">
          <div class="col-md-12">
              <div class="number-link">
                  <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous"> 
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li> 
                        <li class="page-item"><a class="page-link" href="#">8</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
              </div>
          </div>
      </div>
    </div>
    </div>
  </section>


{% endblock %}


