
{% extends 'base.html' %}
{% load static %}

{% block content %}


  <!-- SUB BANNER -->
  <section class="sub-bnr">
    <div class="position-center-center">
      <div class="container">
          <h4>Company Profile</h4>
        <hr class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
        </ol>
          
      </div>
    </div>
    <div class="scroll"> <a href="#content" class="go-down"></a></div>
  </section>
  
  <!-- Content -->


  <section class="padding-top-50 padding-bottom-50">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                <div class="About-Biswas">
                    <div class="About-Biswas-content-builders text-center">
                        <h1>Home for Peace</h1>
                        <p>The Inspiration Behind Our Existence as a Real Estate Brand</p>
                        <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                    </div>
                    </div>

                    <div class="About-Biswas-text text-center">
                        <p>Biswas Group Ltd. is a well-known names in the market that engages in proffering reliable Residential and
commercial Projects. Biswas Group Ltd. is the integrate leader in the market for high-end construction.
Maintaining our legacy of innovation in engineering and construction, we continue to add new milestones with
every passing year, Residential Duplex to Multistoried and high rise commercial building opportunities for
everyone. Our projects are characterized by their innovative planning solutions & design features. Each project is
executed with discreet detail and tremendous legibility by best effort of our sister concern Biswas Developer and
Construction.
                        </p>
                        </div>
              </div>
          </div>
      </div>
  </section>
 

  <section class="padding-top-50 padding-bottom-50">
    <div class="container">
        <div class="row">
           <div class="col-md-6">
            <div class="About-Biswas">
                <div class="About-Biswas-content-builders text-center">
                    <h1>By “Home for Peace”, We Mean:</h1>
                    <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                </div>
                </div>

                <div class="customer-love-point">
                    <ul>
                      <li>Peace of mind</li>
                      <li>Comfort of living </li>
                      <li>Integrated safety and security </li>
                      <li>Subtle designs that create the ultimate joy of living </li>
                    </ul>
                  </div>
           </div>

           <div class="col-md-6">
            <div class="About-Biswas">
                <div class="About-Biswas-content-builders text-center">
                    <h1>By “Home for Peace”, We Mean:</h1>
                    <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                </div>
                </div>
                <div class="customer-love-point">
                    <ul>
                      <li>Reliable construction materials that enhance the safety of the building against natural forces like earthquakes.</li>
                      <li>The expert engineers ensure designs that are comfortable for today’s families. </li>
                      <li>Our engineers focus on the high-usability of the entire space. </li>
                      <li>The latest facilities in your living space keep you satisfied.</li>
                    </ul>
                  </div>
           </div>
        </div>
    </div>
</section>
  
<section class="padding-top-50 padding-bottom-50">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
           <div class="article">
            <div class="post-formats-wrapper1">
              <img src="{% static 'assets/Sylhet.jpg' %}" alt="img">
            </div>
            <div class="article-header1">
                <h3 class="h2"> We Never Compromise With Quality and Best Practices</h3>
            </div>
            <div class="article-content1">
              <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint assumenda non at reprehenderit dolorum eaque quia minus maxime velit vero. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae non veritatis doloremque quae animi quasi, laudantium odit impedit ipsam soluta saepe tempora! Possimus quis inventore recusandae numquam quaerat sit .</p>
            </div>
            <div class="article-header1">
                <h3 class="h2">Founded in 2006 Biswas Developer and Construction Ltd., Biswas Consultant Ltd., Biswas Building Materials Ltd.
working on Echo-friendly sustainable living in Bangladesh.</h3>
            </div>
            <div class="article-content1">
              <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint assumenda non at reprehenderit dolorum eaque quia minus maxime velit vero. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae non veritatis doloremque quae animi quasi, laudantium odit impedit ipsam soluta saepe tempora! Possimus quis inventore recusandae numquam quaerat sit officia? Aliquam eaque a maiores deleniti dolore obcaecati laboriosam dicta blanditiis id, nihil tempora tempore dolorum ipsa vel neque quos magni aspernatur sequi laborum, modi expedita aliquid impedit. Rem atque doloribus cumque voluptatum, quasi tempora nulla, at eum aliquam .</p>
            </div>

            <div class="article-header1">
                <h3 class="h2"> Earthquake Resistant Buildings</h3>
            </div>
            <div class="article-content1">
              <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint assumenda non at reprehenderit dolorum eaque quia minus maxime velit vero. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae non veritatis doloremque quae animi quasi, laudantium </p>
            </div>
          </div>
        </div>
    </div>
       
    </div>
</section>
     
     
      <h1 style="text-align: center; color:#3ab567">Here you get Biswas Group Ltd Company Profile </h1>
      
           <div style="text-align: center">
               <h3 style="color: #3ab567  "> 
                  <a href="{% static 'assets/profile.pdf' %}" download >Download The Profile  </a></h3>
   

           </div>
         
<section class="padding-top-50 padding-bottom-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="About-Biswas">
                    <div class="About-Biswas-content-builders text-center">
                        <h1>The Foundation</h1>
                        <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                    </div>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="big-logo">
                    <img src="{% static 'images/logo.png' %}">
                </div>
            </div>
            <div class="col-md-6">
                <ul class="colum-mark">
                    <li>Expert Professionals Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi consequuntur, nisi molestiae deleniti laborum fuga accusamus culpa facilis rerum voluptate?</li>
                    <li>contemporary aesthetics Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eveniet expedita, deleniti ut cupiditate accusamus.</li>
                    <li>Latest Technologies Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam velit nemo obcaecati dolorum. Perspiciatis mollitia sit nisi?</li>
                    <li>On Time Handover Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos praesentium explicabo architecto tenetur nesciunt? Nam necessitatibus corporis eos delectus accusantium.</li>
                  </ul>
            </div>
        </div>
    </div>
</section>

<section class="padding-top-50 padding-bottom-50">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <div class="About-Biswas"> 
                    <div class="About-Biswas-content-builders text-center">
                        <h1>Our Certifications</h1>
                        <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                    </div>
                    </div>
            </div>

            <div class="col-md-4">
                <div class="certificate-img">
                    <img src="{% static 'images/p.jpg' %}">
                </div>
            </div>

            <div class="col-md-4">
                <div class="certificate-img">
                   <img src="{% static 'images/p.jpg' %}">
                </div>
            </div>

            <div class="col-md-4">
                <div class="certificate-img">
                    <img src="{% static 'images/p.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


  