
{% extends 'base.html' %}
{% load static %}

{% block content %}


  
  <!-- SUB BANNER -->
  <section class="sub-bnr">
    <div class="position-center-center">
      <div class="container">
        <h4>Corporate Structure</h4>
        <hr class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
        </ol>
          
      </div>
    </div>
    <div class="scroll"> <a href="#content" class="go-down"></a></div>
  </section>
  
  <!-- Content -->
    
  <section class="padding-top-50 padding-bottom-50">
    <div class="container"> 
      <div class="row">
       <div class="col-md-12 text-center">
         <div class="Biswas-secton-area">
           <div class="Biswas-head">
            <span>Biswas Group Ltd</span>
            <h1>Corporate Structure</h1>
            <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
           </div>
         </div>

         <div class="stactrue-img">
             <img src="{% static 'assets/company-structure.png' %}" alt="img">
         </div>
       </div>
      </div>
    </div>
  </section> 



{% endblock %}



