{% extends 'base.html' %}
{% load static %}

{% block content %}


  
  <!-- SUB BANNER -->
  <section class="sub-bnr">
    <div class="position-center-center">
      <div class="container">
        <h4>Customer Review</h4>
        <hr class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          
        </ol>
      </div>
    </div>
    <div class="scroll"> <a href="#content" class="go-down"></a></div>
  </section>
  
  <!-- Content -->


<section class="padding-top-50 padding-bottom-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
                <div class="About-Biswas">
                    <div class="About-Biswas-content-builders text-center">
                        <span>Biswas Group Ltd</span>
                        <h1>Customer Reviews of Biswas Group Ltd | A Leading Real Estate Company in Bangladesh</h1>
                        <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-land text-center">
                    <a class="blackname" href="#">ABCD</a>
                    <p class="h4">Feb 7th, 2021</p>
                    <p class="h4">Posted on <img src="{% static 'assets/google.png' %}" alt="img"></p>
                    <img src="{% static 'assets/5-stars.png' %}" alt="img">
                    <p class="h4">One of reliable real Estate in Bangladesh in terms of quality.</p>
                    <a href="#">More</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-land text-center">
                    <a class="blackname" href="#">ABCD</a>
                    <p class="h4">Feb 7th, 2021</p>
                    <p class="h4">Posted on <img src="{% static 'assets/google.png' %}" alt="img"></p>
                    <img src="{% static 'assets/5-stars.png' %}" alt="img">
                    <p class="h4">One of reliable real Estate in Bangladesh in terms of quality.</p>
                    <a href="#">More</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-land text-center">
                    <a class="blackname" href="#">ABCD</a>
                    <p class="h4">Feb 7th, 2021</p>
                    <p class="h4">Posted on <img src="{% static 'assets/google.png' %}" alt="img"></p>
                    <img src="{% static 'assets/5-stars.png' %}" alt="img">
                    <p class="h4">One of reliable real Estate in Bangladesh in terms of quality.</p>
                    <a href="#">More</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-land text-center">
                    <a class="blackname" href="#">ABCD</a>
                    <p class="h4">Feb 7th, 2021</p>
                    <p class="h4">Posted on <img src="{% static 'assets/google.png' %}" alt="img"></p>
                    <img src="{% static 'assets/5-stars.png' %}" alt="img">
                    <p class="h4">One of reliable real Estate in Bangladesh in terms of quality.</p>
                    <a href="#">More</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-land text-center">
                    <a class="blackname" href="#">ABCD</a>
                    <p class="h4">Feb 7th, 2021</p>
                    <p class="h4">Posted on <img src="{% static 'assets/google.png' %}" alt="img"></p>
                    <img src="{% static 'assets/5-stars.png' %}" alt="img">
                    <p class="h4">One of reliable real Estate in Bangladesh in terms of quality.</p>
                    <a href="#">More</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-land text-center">
                    <a class="blackname" href="#">ABCD</a>
                    <p class="h4">Feb 7th, 2021</p>
                    <p class="h4">Posted on <img src="{% static 'assets/google.png' %}" alt="img"></p>
                    <img src="{% static 'assets/5-stars.png' %}" alt="img">
                    <p class="h4">One of reliable real Estate in Bangladesh in terms of quality.</p>
                    <a href="#">More</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="pageni">
                <p style="display: inline-block;" class="h4">Page:</p>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">>></a>
                </div>
                <p class="h4">Biswas Group Ltd Reviews</p>
                <img src="{% static 'assets/5-stars.png' %}" alt="img">
                <p class="h4">5.00 out of 5 stars based on 48 customer reviews.</p>
            </div>

            <div class="col-md-12 text-center">
                <a style="display: block;" href="#">
                  <img src="{% static 'assets/powered-by-review-central.png' %}" alt="img"></a>
            </div>
        </div>
    </div>
</section>


{% endblock %}


