
{% extends 'base.html' %}
{% load static %}

{% block content %}


  <!-- SUB BANNER -->
  <section class="sub-bnr">
    <div class="position-center-center">
      <div class="container">
        <h4>EVENTS</h4>
        <hr class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
        </ol>
          <li class="active">Events</li>
      </div>
    </div>
    <div class="scroll"> <a href="#content" class="go-down"></a></div>
  </section>
  
  <!-- Content -->




  <section class="padding-top-50 padding-bottom-50"> 
    <div class="container"> 
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="Looking-secton-area text-center">
              <div class="loking-head">
              
              <h1>Events of Biswas Group</h1>
              <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
              </div>
              
            </div>
          </div>
        </div>

        <div class="row">
          
          <div class="col-md-6 col-sm-6 col-12">
            <div class="card area-bundari" style="100%">
              <iframe width="100%" height="200" src="https://www.youtube.com/embed/eUOrH0moSqg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-body bg-dark cover-vedio-text">
                <p class="card-text">" কোনদিকে যাচ্ছে দেশের আবাসন খাত " " কোনদিকে যাচ্ছে দেশের আবাসন খাত "</p>
                <a href="#"><span>presented by</span> Prothom Alo</a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-12">
            <div class="card area-bundari" style="100%">
              <iframe width="100%" height="200" src="https://www.youtube.com/embed/eUOrH0moSqg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-body bg-dark cover-vedio-text">
                <p class="card-text">" কোনদিকে যাচ্ছে দেশের আবাসন খাত " " কোনদিকে যাচ্ছে দেশের আবাসন খাত "</p>
                <a href="#"><span>presented by</span> Prothom Alo</a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-12">
            <div class="card area-bundari" style="100%">
              <iframe width="100%" height="200" src="https://www.youtube.com/embed/eUOrH0moSqg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-body bg-dark cover-vedio-text">
                <p class="card-text">" কোনদিকে যাচ্ছে দেশের আবাসন খাত " " কোনদিকে যাচ্ছে দেশের আবাসন খাত "</p>
                <a href="#"><span>presented by</span> Prothom Alo</a>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-sm-6 col-12">
            <div class="card area-bundari" style="100%">
              <iframe width="100%" height="200" src="https://www.youtube.com/embed/eUOrH0moSqg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-body bg-dark cover-vedio-text">
                <p class="card-text">" কোনদিকে যাচ্ছে দেশের আবাসন খাত " " কোনদিকে যাচ্ছে দেশের আবাসন খাত "</p>
                <a href="#"><span>presented by</span> Prothom Alo</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  
    
{% endblock %}