
  {% extends 'base.html' %}
  {% load static %}
  
  {% block content %}


    <!-- SUB BANNER -->
    <section class="sub-bnr">
      <div class="position-center-center">
        <div class="container">
          <h4>Land Wanted</h4>
          <hr class="main">
          <!-- Breadcrumb -->
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            
          </ol>
        </div>
      </div>
      <div class="scroll"> <a href="#content" class="go-down"></a></div>
    </section>
    
    <!-- Content -->
     
    <div id="nine" class="left-right-block nine-left">
      <div class="container-flued">
          <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="col-md-12"> 
                      <h2 class="h1"><span style="color: #17A84C;">LAND</span> WANTED IN <span style="color:#0E0E0E;"><b>DHAKA</b></span>
                          FOR <span style="color:#17A84C"><b>JOINT VENTURE</b></span> DEVELOPMENT</h2>
                      <p style="color:#0E0E0E;" class="display h2 col-n "><b>Call us now</b> <a href="#"><i class="fa fa-phone-alt"></i> +880 1324-291441 </a></p>
                      <div class="About-Biswas-text">
                      <p>Biswas Group set its foot in the real estate business in 2006 with a view to providing stunning homes for the contemporary city lifestyle. For more than 13 years, we have grown ourselves as a leader in the sector after serving over a thousand customers and completing over a hundred projects.<br><br>
                          Through our elegant design, superior resources, and excellent workmanship, we are materializing the promise of providing a complete living experience to our clients. Our market insight and proactive approach to address any issue have earned us the confidence of clients as they invest in their dream property.
                      </p>
                      </div>
  
                      <div class="d-lg-none">
                          <img style="width: 100%;" src="{% static 'assets/land-4.jpg' %}" alt="img">
                      </div>
                  </div>
              </div>
          </div>
        </div>
  </div>
  
  
  <section class="bg-color-f8f8 padding-top-50 padding-bottom-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
                <div class="About-Biswas">
                    <div class="About-Biswas-content-builders text-center">
                        <h1>Why Choose Us for Developing Your Land</h1>
                        <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-land text-center">
                    <img src="{% static 'assets/tissu.png' %}" alt="img">
                    <p class="h2"><b>Best Construction<br>Materials</b></p>
                    <p class="h4">The high-performance materials used in every step of our projects guarantee the robustness of the building</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-land text-center">
                    <img src="{% static 'assets/hand.png' %}" alt="img">
                    <p class="h2"><b>Uncompromised<br>Safety</b></p>
                    <p class="h4">The high-performance materials used in every step of our projects guarantee the robustness of the building</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-land text-center">
                    <img src="{% static 'assets/pancil.png' %}" alt="img">
                    <p class="h2"><b>Superior Quality<br>and Architecture</b></p>
                    <p class="h4">The high-performance materials used in every step of our projects guarantee the robustness of the building</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-land text-center">
                    <img src="{% static 'assets/hand.png' %}" alt="img">
                    <p class="h2"><b>Uncompromised<br>Safety</b></p>
                    <p class="h4">The high-performance materials used in every step of our projects guarantee the robustness of the building</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-land text-center">
                    <img src="{% static 'assets/pancil.png' %}" alt="img">
                    <p class="h2"><b>Superior Quality<br>and Architecture</b></p>
                    <p class="h4">The high-performance materials used in every step of our projects guarantee the robustness of the building</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-land text-center">
                    <img src="{% static 'assets/tissu.png' %}" alt="img">
                    <p class="h2"><b>Best Construction<br>Materials</b></p>
                    <p class="h4">The high-performance materials used in every step of our projects guarantee the robustness of the building</p>
                </div>
            </div>
          
        </div>
    </div>
</section>

<section class="padding-top-50 padding-bottom-50">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6">
                <div class="About-Biswas">
                    <div class="About-Biswas-content-builders text-center">
                        <h1>Our Achievements Speak for Us!</h1>
                        <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                    </div>
                </div>
                <ul class="colum-mark1">
                    <li>Customers served - 1280+</li>
                    <li>Completed projects - 100+</li>
                    <li>Ongoing projects - 73</li>
                    <li>Upcoming projects - 24</li>
                    <li>ISO 9001:2018-certified</li>
                </ul>
            </div>


            <div class="col-md-6">

                <div class="would-youlike22">
                    <div class="youlike22 text-center">
                    <h1>Realize Your Dream Property With Us!</h1>
                    <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                    </div>
                </div>

                <div class="like-contact-area text-center">
                    <ul>
                    <li>
                        <div class="like-text-area22 text-left">
                        <div class="like-content">
                            <div class="md-img-show">
                            <img src="{% static 'assets/landlord-icon.png' %}" alt="img">
                            </div>
                            <div class="like-text">
                            <p>buy a property</p>
                            <a href="#"><i class="fas fa-angle-right"></i> +880 1324-291441 </a>
                            </div>
                        </div>
                        </div>
                    </li>

                    <li>
                        <div class="like-text-area22 text-left">
                        <div class="like-content">
                            <div class="md-img-show">
                            <img src="{% static 'assets/landlord-icon.png' %}" alt="img">
                            </div>
                            <div class="like-text">
                            <p>customer care</p>
                            <a href="#"><i class="fas fa-angle-right"></i> +880 1324-291444  </a>
                            </div>
                        </div>
                        </div>
                    </li>

                    <li>
                        <div class="like-text-area22 text-left">
                        <div class="like-content">
                            <div class="md-img-show">
                            <img src="{% static 'assets/landlord-icon.png' %}" alt="img">
                            </div>
                            <div class="like-text">
                            <p>land owner</p>
                            <a href="#"><i class="fas fa-angle-right"></i> +880 1324-291441
 </a>
                            </div>
                        </div>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
  
  {% endblock %}
  


  