{% extends 'base.html' %}
{% load static %}

{% block content %}


  
  <!-- SUB BANNER -->
  <section class="sub-bnr">
    <div class="position-center-center">
      <div class="container">
        <h4>Vision & Mission</h4>
        <hr class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
        </ol>
          
      </div>
    </div>
    <div class="scroll"> <a href="#content" class="go-down"></a></div>
  </section>
  
  <!-- Content -->
    

    <section class="padding-top-50 padding-bottom-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="About-Biswas">
                        <div class="About-Biswas-content-builders text-center">
                            
                            <h1>Our Vision</h1>
                            <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                        </div>
                        </div>

                        <div class="Biswas-text">
                            <p>To be the industry leader and a market driven engineering construction company renowned for excellence, quality,
performance and reliability in all types of construction.</p></br>
                           <p style=" text-align: justify">Founded in 2006 Biswas Developer and Construction Ltd., Biswas Consultant Ltd., Biswas Building Materials Ltd.
working on Echo-friendly sustainable living in Bangladesh. 
We have hired expert’s architects and civil engineers who are well versed with the operators’ needs, aspirations
and dynamics of the market. Our team of engineers designs the structures on the basis of varied client’s demands
and in accordance with the prevailing trends of the market. We procure and manufacture finest quality Eco-friendly
                               raw materials for construction purpose, which ensure high strength and long lasting effect to these buildings.   </p>
                            
                          </div>
                </div>
                <div class="col-md-6">
                    <div class="trusim-img">
                        <img src="{% static 'assets/vvision.jpg' %}" alt="img" width="400" height="500">
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="padding-top-50 padding-bottom-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6"> </br> </br> </br>
                    <div class="trusim-img"> 
                        <img src="{% static 'assets/mmission.png' %}" alt="img" width="400" height="500">
                    </div>
                </div>

               <div class="col-md-6">
                    <div class="About-Biswas"> 
                        <div class="About-Biswas-content-builders text-center">
                            
                            <h1>Our Mission</h1>
    
                            <img src="{% static 'assets/heading-arrow.png' %}" alt="img">
                        </div>
                        </div>

                        <div class="Biswas-text">
                         <p> <i class="fa fa-angle-right" aria-hidden="true">
                            To be the customer’s preferred choice for providing construction services.
                             
                            </i> </p>
                         <p><i class="fa fa-angle-right" aria-hidden="true"> Constantly assess the needs, realities and values of the customer and set goals to satisfy their needs. </i></p>
                         
                   <p>   <i class="fa fa-angle-right" aria-hidden="true">
                            Continually innovate, develop and adopt state-of-the-art technologies, methodologies and materials to deliver
customer satisfaction through better, faster and cheaper construction services.
                             
                         </i></p>
                         <p>    <i class="fa fa-angle-right" aria-hidden="true">
                            Continually aspire to deliver higher standards of safety, occupational health and environment protection at
work.
                             
                         </i></p>
                     <p>      <i class="fa fa-angle-right" aria-hidden="true">
                            Continually develop and maintain a robust supply chain that will help us deliver value to the customer on time
                                                                             and to expectation.
                             
                         </i></p>
                           
                           
                            <p> <i class="fa fa-angle-right" aria-hidden="true">
                           Continually improve the competence of our people through education and by inculcating strict principles of
conduct and responsibility, high standards of performance, and respect for individuals and their work
                             
                            </i> </p>
                            
                            
                             <p> <i class="fa fa-angle-right" aria-hidden="true">
                           Organize work for effectiveness in delivering results and always look to commit today’s resources to the future.
                            </i> </p>
                            
                            
                             <p> <i class="fa fa-angle-right" aria-hidden="true">
                            To build a reputation of trust and reliability amongst our customers and society
                             
                            </i> </p>
                            
                          </div>
                </div>
               
            </div>
        </div>
    </section>



{% endblock %}
  
 